*{    font-family: Arial, sans-serif;

}

  body {
    color: white; 
    display: flex;
    flex-direction: row;
    justify-content: center;
 
  }

  .intro {
background-color: red;
padding: 20px;
border: 20px solid #ccc;
  }
  
  h1{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  }